:root {
    --accent: rgb(212, 255, 0);
    --accent-hover: rgb(190, 228, 0);
    --accent-active: #72d534;
    --control: #49aa00;
    --secondary: #ECEFEB;
    --secondary-hover: #E0E4DE;
    --secondary-active: #6c6c6b;
    --headline-color: rgba(100, 105, 150, 1);
    --event-text: rgba(29, 32, 59, 1);
    --success: rgba(80, 189, 85, 1);
    --error: rgba(232, 113, 113, 1);
    --white: rgba(255, 255, 255, 1);
    --accent-text: #163300;
}

body {
    padding: 16px;
    display: flex;
    height: 100vh;
    min-width: 320px;
    font-family: "Inter", sans-serif;
}

* {
    box-sizing: border-box;
}

.top-bar {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 100%;
    flex-direction: row;
    color: var(--headline-color);
}

.top-bar h2 {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5rem;
}

.top-bar svg {
    color: var(--headline-color);
}

.action-buttons {
    position: relative;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 0.5rem;
    scroll-snap-align: start;
    width: 100%;
    flex-wrap: wrap;
}

.action-button {
    color: var(--accent-text);
    border-radius: 1rem;
    height: 2rem;
    gap: 0.25rem;
    cursor: pointer;
    display: flex;
    padding: 0 0.75rem;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    align-items: center;
    text-decoration: none;
    background: var(--secondary);
}

.action-button--primary:active {
    background: var(--accent-active);
}

.action-button:active {
    background: var(--secondary-active);
}


.action-button--horizontal-scroll {
    border-radius: 50%;
    cursor: pointer;
    border: none;
    outline: none;
    width: 2rem;
    height: 2rem;
    background: var(--accent);
}

.action-button--horizontal-scroll:hover {
    background: var(--accent-hover);
}

.action-button--horizontal-scroll:active {
    background: var(--accent-active);
}

.action-button--horizontal-scroll:disabled {
    cursor: not-allowed;
    background: var(--secondary);
}

.action-button--horizontal-scroll:disabled:hover {
    background: var(--secondary);
}

.action-button--horizontal-scroll:disabled:active {
    background: var(--secondary);
}

#action-button--previous {
    margin-left: auto;
    transform: rotate(-90deg);
}

#action-button--next {
    transform: rotate(90deg);
}

.action-button:hover {
    background: var(--secondary-hover);
}

.action-button--primary {
    background: var(--accent);
}

.action-button--primary:hover {
    background: var(--accent-hover);
}

.action-button--primary:active {
    background: var(--accent-active);
}

#events {
    display: flex;
    gap: 1.5rem;
    padding: 1rem 0px;
    width: 100%;
    flex-direction: row;
    overflow: auto;
}

.event {
    appearance: none;
    text-decoration: none;
    position: relative;
    transition: all 0.2s ease-in-out;
    min-width: 20rem;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    scroll-snap-align: start;
    overflow: hidden;
    color: rgba(29, 32, 59, 1);
}

.event__image {
    position: relative;
}

.event__indicator {
    position: absolute;
    padding: 0.5rem;
    min-width: 3.5rem;
    min-height: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--white);
    align-items: center;
    border-radius: 0.5rem;
}

.event__date {
    top: 0.5rem;
    left: 0.5rem;
    font-size: 1.35rem;
}

.event__date__month {
    font-size: 0.6rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--event-headline);
}

.event__type {
    top: 0.5rem;
    right: 0.5rem;
}

.event__type svg {
    color: var(--event-text);
    height: 2rem;
    width: 2rem;
}

.event-description {
    color: var(--event-text);
    padding: 0.5rem 0.75rem;
}

.event img {
    width: 100%;
    height: 15rem;
    border-radius: 1rem;
    object-fit: cover;
    object-position: top;
}

.event h2 {
    font-size: 1.375rem;
    letter-spacing: normal;
    overflow-wrap: normal;
    white-space: nowrap;
    font-weight: 700;
    line-height: 1.25rem;
    color: var(--event-headline);
    overflow: hidden;
    text-overflow: ellipsis;
}

.bottom-stats {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    flex-direction: row;
    color: var(--headline-color);
}

.bottom-stat {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-direction: row;
}

.container {
    max-width: 50rem;
    width: 100%;
    min-width: 18rem;
    margin: 7.5rem auto;
}

.circle {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
}

.circle--green {
    background: var(--success);
}

.circle--red {
    background: var(--error);
}


/* Track */
::-webkit-scrollbar {
    background-color: #f1f1f1; /* Change the background color */
    width: 8px; /* Set the width of the scrollbar */
    border-radius: 10px; /* Rounded corners */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #ff4500; /* Change the color of the handle */
    border-radius: 10px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #b30000; /* Change the color of the handle on hover */
}
